.item-wrapper {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  margin-bottom: 3px;
  .item-name,.item-price {
    margin: 0;
    padding: 0 5px;
  }
  .item-btn {
    height: 32px;
    width: 80px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 2px;
  }
}